@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.about__text, .advantages__text, .work-list__text, .magic__text, .slide__text {
  font-family: "Open Sans-Light", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.section-slider__arrow, .price__btn, .form__btn, .footer__btn {
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: border-box;
}

div, p, span, ul, li, img, svg, h1, h2, h3, h4, h5, h6, a, body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  width: 42px;
}

.title {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
}

.header {
  height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.menu__list {
  display: flex;
}

.menu__item {
  padding: 0 25px;
}

.menu__link {
  display: inline-block;
  text-align: center;
  width: calc( 100% + 12px );
  position: relative;
  font-family: "Raleway-Bold";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #373A39;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 100%;
  height: 2px;
  background-color: #FCBB08;
  opacity: 0;
  transition: all 0.3s;
  display: block;
}
.menu__link:hover::after {
  opacity: 1;
}

.header-inner {
  background-image: url("../images/Header-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -70px;
  background-size: cover;
  height: calc( 100% - 122px );
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner-wrap {
  text-align: center;
  padding: 213px 0 30px 0;
}

.header__title {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  color: #FFFFFF;
  margin-bottom: 18.5px;
}

.header__suptitle {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: 179.5px;
}

.header__decor {
  display: inline-block;
  border: 2px solid #fff;
  width: 26px;
  height: 43px;
  border-radius: 100px;
  position: relative;
}
.header__decor::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.section {
  padding: 152px 0 159px 0;
}

.section_grey {
  background-color: #F6F8FA;
}

.about-inner {
  display: flex;
  justify-content: space-between;
}

.about__paragraphs {
  max-width: 770px;
}

.about__text + .about__text {
  margin-top: 24px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
}
.advantages__items {
  max-width: 370px;
  margin-right: 30px;
  flex: 2;
}
.advantages__item {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.advantages__item::after, .advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
}
.advantages__item::before {
  background-color: #F0F0F0;
  width: 100%;
}
.advantages__item::after {
  background-color: #1D1D1D;
}
.advantages__item:nth-child(1)::after {
  width: 90%;
}
.advantages__item:nth-child(2)::after {
  width: 80%;
}
.advantages__item:nth-child(3)::after {
  width: 85%;
}
.advantages__item + .advantages__item {
  margin-top: 28px;
}
.advantages__paragraphs {
  max-width: 770px;
  flex: 1;
}
.advantages__text + .advantages__text {
  margin-top: 24px;
}

.expertise__work-list {
  margin-top: 110px;
}

.work-list {
  display: flex;
}
.work-list__item {
  position: relative;
  padding-left: 85px;
}
.work-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.work-list__item:nth-child(1)::before {
  height: 55px;
  background-image: url("../images/graphic-design.svg");
}
.work-list__item:nth-child(2)::before {
  background-image: url("../images/monitor.svg");
}
.work-list__item:nth-child(3)::before {
  background-image: url("../images/speaker copy.svg");
}
.work-list__title {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.2875px;
  color: #333333;
}
.work-list__text {
  color: #777777;
}
.work-list__item + .work-list__item {
  margin-left: 27px;
}

.magic {
  padding: 0;
  display: flex;
}
.magic__img {
  max-width: 705px;
}
.magic__content {
  max-width: 470px;
  margin-left: 130px;
  margin-top: 101px;
}
.magic__title {
  max-width: 260px;
  margin-bottom: 67px;
}
.magic__text {
  color: #373A39;
}
.magic__text + .magic__text {
  margin-top: 24px;
}

.portfolio {
  padding-bottom: 0;
}
.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__filter {
  display: flex;
}
.portfolio__filter-item {
  padding: 0 10px 8px 10px;
}
.portfolio__filter-item_active {
  border-bottom: 2px solid #FCBB08;
}
.portfolio__filter-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Open Sans-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #333333;
}
.portfolio__btn-wrap {
  background-color: #F6F8FA;
  margin-top: 72px;
  height: 100px;
  padding-top: 42px;
  text-align: center;
}
.portfolio__btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
}
.portfolio__images-item {
  background-color: #EDEDED;
}
.portfolio__images-item:nth-child(2) {
  background-color: #4c4949;
  box-shadow: inset -12px -12px 0px 0px #666363, inset 12px 12px 0px 0px #666363;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}
.portfolio__images-item:nth-child(9) {
  grid-column: 2;
}
.portfolio__images {
  margin-top: 103px;
  display: grid;
  height: 912px;
  grid-gap: 22px;
  grid-template-columns: repeat(4, 25%);
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote__wrap {
  max-width: 625px;
  text-align: center;
  margin-bottom: 148px;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}
.quote__text {
  margin-bottom: 51px;
}
.quote__author {
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E;
}

.video {
  position: relative;
}
.video__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 64px;
  cursor: pointer;
}

.features__statistic {
  padding: 164px 10px 0px 10px;
  max-width: 1005px;
  margin: 0 auto;
}

.statistic-list {
  display: flex;
  justify-content: space-between;
}
.statistic-list__item + .statistic-list__item {
  margin-left: 192px;
}
.statistic-list__num {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
}
.statistic-list__text {
  font-family: "Open Sans-Regular";
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #00B2A0;
}

.section-slider {
  position: relative;
}
.section-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-slider__arrow_prev {
  left: 38px;
}
.section-slider__arrow_next {
  right: 38px;
}
.section-slider__inner {
  max-width: 1175px;
  margin: 0 auto;
}
.section-slider__slide {
  display: none;
}
.section-slider__slide__active {
  display: block;
}
.section-slider__pagination {
  margin-top: 197px;
}
.section-slider__pagination-item {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #242121;
  opacity: 0.4;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}
.section-slider__pagination-item + .section-slider__pagination-item {
  margin-left: 14px;
}
.section-slider__pagination-item + .section-slider__pagination-item_active {
  width: 10px;
  height: 10px;
  background-color: #242121;
  opacity: 1;
}

.slide__title {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  color: #242121;
  max-width: 704px;
}
.slide__text {
  color: #777777;
  max-width: 559px;
}

.team__list {
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
}
.team__list-item {
  max-width: 370px;
  text-align: center;
}
.team__list-item + .team__list-item {
  margin-left: 30px;
}
.team__name {
  margin-top: 35px;
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.team__role {
  font-family: "Open Sans-Light";
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #C2C2C2;
}

.price__list {
  margin-top: 91px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price__item {
  background-color: #fff;
  padding: 24px;
  text-align: center;
  max-width: 370px;
  flex: 1;
}
.price__item + .price__item {
  margin-left: 30px;
}
.price__name {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  text-align: left;
  margin-bottom: 8px;
}
.price__cost {
  font-family: "Open Sans-Light", sans-serif;
  font-style: normal;
  font-size: 80px;
  line-height: 109px;
  color: #242121;
  margin-bottom: 51px;
}
.price__cost sup {
  font-size: 40px;
  line-height: 54px;
}
.price__cost sub {
  font-size: 20px;
  line-height: 27px;
}
.price__adventaches-item {
  display: block;
  font-family: "Open Sans-Light", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
}
.price__adventaches-item + .price__adventaches-item {
  margin-top: 30px;
}
.price__btn {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  display: inline-block;
  margin: 69px 0 29px 0;
}

.section-empty {
  padding-top: 0;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  padding-left: 50px;
}
.contacts__map {
  max-width: 635px;
  margin-left: 101px;
}
.contacts__form {
  max-width: 569px;
  width: 100%;
  margin-top: 94px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}
.form__input, .form__message {
  width: 100%;
  margin-bottom: 32px;
  min-height: 38px;
  border: none;
  border-bottom: 2px solid #373A39;
  outline: none;
}
.form__input::placeholder, .form__message::placeholder {
  color: #B8B8B8;
  font-family: "Open Sans-Light", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;
}
.form__message {
  margin-top: 52px;
  min-height: 156px;
  max-height: 400px;
}
.form__btn {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #242121;
  min-height: 45px;
  padding: 17px 58px 15px;
}

.footer {
  background-color: #373A39;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 20px 60px;
}
.footer__logo {
  margin-bottom: 24px;
}
.footer__hr {
  border: none;
  color: #FCBB08;
  background-color: #FCBB08;
  height: 2px;
  max-width: 150px;
  width: 100%;
  margin-bottom: 74px;
}
.footer__social-list {
  display: flex;
  margin-bottom: 65px;
}
.footer-social-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  color: #FFFFFF;
}
.footer-social-item + .footer-social-item {
  margin-left: 28px;
}
.footer__adress, .footer__tel, .footer__email {
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #A8A8A8;
}
.footer__btn {
  margin-top: 57px;
}
.footer__rights {
  text-align: center;
  font-family: "Open Sans-Regular", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
  background-color: #2A2C2B;
  padding: 43px 20px 41px;
}
